<h1>Restore Password</h1>
<% form_for(@user, '/sessions/new_password') do |f| %>
  <%= f.label 'Email' %>
  <%= f.text_field :email %>
  <%= f.label 'New password' %>
  <%= f.password_field :password %>
  <%= f.label 'Confirm new password' %>
  <%= f.password_field :password_confirmation %>
  <br/>
  <%= f.submit "Restore", :class => "btn btn-primary" %>
<% end %>