Job Vacancy Board
=================

You have appied to the following offer:

* Title: <%= job_application.job_offer.title %>
* Location: <%= job_application.job_offer.location %>
* Description: <%= job_application.job_offer.description %>
* Expected Pay: <%= job_application.expected_pay.nil? ? "not informed" : job_application.expected_pay %>
* Short Bio: <%= job_application.short_bio.nil? || job_application.short_bio.empty? ? "not informed" : job_application.short_bio %>

You can contact the publisher of this offer by writing <%= job_application.job_offer.owner.name %> to <%= job_application.job_offer.owner.email %>
