<h1>Applications for "<%= @job_offer.title %>"</h1>
<% if @job_offer.job_applications.empty? %>
  <div class="alert alert-info" >
    There are no applications for this offer.
  </div>
<% else %>
  <table class="table table-bordered">
    <tr>
      <th width="15%">Email</th>
      <th width="15%">Expected Pay</th>
      <th width="70%">Short Bio</th>
    </tr>

    <% @job_offer.job_applications.each do |application| %>

    <tr>
      <td>
        <%= application.applicant_email %>
      </td>
      <td>
        <%= application.expected_pay.nil? ? "Not specified" : number_to_currency(application.expected_pay) %>
      </td>
      <td>
        <%= application.short_bio.nil? || application.short_bio.empty? ? "Not specified" : application.short_bio %>
      </td>
    </tr>

    <% end %>
  </table>
<% end %>
