<h1>Job Application</h1>


<p>Please enter your email address to receive the contanct information for this offer.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_application.job_offer.id}") do |f| %>

  <%= f.label :applicant_email %>
  <%= f.text_field :applicant_email, placeholder: "Email" %>

  <%= f.label :expected_pay %>
  <%= f.text_field :expected_pay, placeholder: "0-150000" %>

  <%= f.label :short_bio %>
  <%= f.text_area :short_bio, placeholder: "max. 500 chars", maxlength: 500, rows: "10" %>

  <hr/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>
