<h1>Current Job Offers</h1>

<div class="search-box">
	<form method="POST" action=<%= url_for(:job_offers, :search) %> class="form-search" >
		<%= csrf_token_field %>
    <% if @last_title_search.nil? %>
  		<input type="text" name="title_search" placeholder="Title" />
    <% else %>
      <input type="text" name="title_search" value=<%= @last_title_search %> />
    <% end %>

    <% if @last_location_search.nil? %>
      <input type="text" name="location_search" placeholder="Location" />
    <% else %>
      <input type="text" name="location_search" value=<%= @last_location_search %> />
    <% end %>

      <input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>
	</tr>

	<% end %>

</table>