<h1>New Job Offer</h1>
<% form_for(@job_offer, '/job_offers/create') do |f| %>

  <%= partial 'job_offers/form', :locals => { :f => f, :editing => false } %>

  <%= f.submit "Create", :class => "btn btn-primary", :id => 'createButton' %>
  
  <%= link_to 'Cancel', url_for(:job_offers, :my), :class => "btn btn-secondary", :id => 'cancelButton' %>
<% end %>